<template>
  <!-- the following subnodes will be added to the beginning of the head tag -->
  <head_begin>
    <script type="text/javascript" src="Scripts/jquery.js"/>
    <script type="text/javascript" src="Scripts/SyntaxHighlighter/scripts/shCore.js"/>
    <script type="text/javascript" src="Scripts/SyntaxHighlighter/scripts/shBrushDelphi.js"/>
    <link type="text/css" rel="stylesheet" href="Scripts/SyntaxHighlighter/styles/shCore.css">
    <link type="text/css" rel="stylesheet" href="Scripts/SyntaxHighlighter/styles/shThemeDefault.css">
  </head_begin>
  
  <!-- the following subnodes will be added to the end of the head tag -->
  <head_end>
    <script type="text/javascript" src="Scripts/bootstrap.js"/>
  </head_end>
</template>