﻿<head ><STYLE TYPE="text/css">@import "stylesheet.css";</STYLE><title ></title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><script  language='JavaScript'>
			function doClick(imageHref) {
			if (parent.imageFrame != null)
				parent.imageFrame.location.href = imageHref;
			}
		</script></head><body >
<table  border='0' width='100%' cellpadding='1' cellspacing='0'>
<tr >
<td  colspan='2' class='NavBarCellCommon'>
<table  border='0' cellpadding='0' cellspacing='3'>
<tr  align='center' valign='top'>
<td  class='NavBarCellCommon'>
<a  href='overview-summary.html'>
<font  size='+1' class='NavBarFont1'>
<b >Overview</b></font></a>&nbsp;</td><td  class='NavBarCellCommon'>
<font  size='+1' class='NavBarFont1'>Namespace</font>&nbsp;</td><td  class='NavBarCellCommon'>
<font  size='+1' class='NavBarFont1'>Classifier</font>&nbsp;</td><td  class='NavBarCellCommon'>
<font  size='+1' class='NavBarFont1'>Tree</font>&nbsp;</td><td  class='NavBarCellCommonRev'>
<font  size='+1' class='NavBarFont1'>
<b >Index</b></font>&nbsp;</td><td  class='NavBarCellCommon'>
<a  href='help-doc.html'>
<font  size='+1' class='NavBarFont1'>
<b >Help</b></font></a>&nbsp;</td></tr></table><td  align='right' valign='top' rowspan='3'>
<em ></em></td></td></tr><tr >
<td  class='NavBarCellPrevNext'>
<font  size='-2'>PREV&nbsp;&nbsp;NEXT</font></td><td  class='NavBarCellPrevNext'>
<font  size='-2'>
<a  href='index.html' target='_top'>
<b >FRAMES</b></a>&nbsp;<a  href='index-all.html' target='_top'>
<b >NO FRAMES</b></a></font></td></tr></table><a  href='#_A_'>A</a> <a  href='#_B_'>B</a> <a  href='#_C_'>C</a> <a  href='#_D_'>D</a> <a  href='#_E_'>E</a> <a  href='#_F_'>F</a> <a  href='#_G_'>G</a> <a  href='#_H_'>H</a> <a  href='#_I_'>I</a> <a  href='#_L_'>L</a> <a  href='#_M_'>M</a> <a  href='#_O_'>O</a> <a  href='#_P_'>P</a> <a  href='#_R_'>R</a> <a  href='#_S_'>S</a> <a  href='#_T_'>T</a> <a  href='#_U_'>U</a> <a  href='#_V_'>V</a> <hr /><a  name='_A_'/><h2 >
<b >A</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#AppClosingNotifier" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">AppClosingNotifier</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#AppearanceOfMarkFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">AppearanceOfMarkFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#AppStartedNotifier" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">AppStartedNotifier</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#ArchiveReadWriteFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">ArchiveReadWriteFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_B_'/><h2 >
<b >B</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#BGTimerNotifier" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">BGTimerNotifier</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#BitmapFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">BitmapFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#BitmapPostProcessing" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">BitmapPostProcessing</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#BitmapTileSaveLoadFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">BitmapTileSaveLoadFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#BuildInfo" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">BuildInfo</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_C_'/><h2 >
<b >C</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#Create()" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">Create</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#CacheConfig" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">CacheConfig</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#Config" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">Config</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#ContentTypeManager" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">ContentTypeManager</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#CoordConverterFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">CoordConverterFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#CoordConverterList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">CoordConverterList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_D_'/><h2 >
<b >D</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#Destroy()" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">Destroy</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="package-summary.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">DVRPlanet</a>  - project</dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#DatumFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">DatumFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#DebugInfoWindow" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">DebugInfoWindow</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#DownloadInfo" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">DownloadInfo</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_E_'/><h2 >
<b >E</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#ExporterList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">ExporterList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_F_'/><h2 >
<b >F</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#FAppClosingNotifier" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FAppClosingNotifier</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FAppClosingNotifierInternal" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FAppClosingNotifierInternal</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FAppearanceOfMarkFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FAppearanceOfMarkFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FAppStartedNotifier" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FAppStartedNotifier</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FAppStartedNotifierInternal" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FAppStartedNotifierInternal</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FArchiveReadWriteFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FArchiveReadWriteFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FBaseApplicationPath" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FBaseApplicationPath</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FBaseCahcePath" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FBaseCahcePath</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FBaseConfigPath" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FBaseConfigPath</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FBaseDataPath" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FBaseDataPath</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FBatteryStatus" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FBatteryStatus</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FBGTimerNotifier" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FBGTimerNotifier</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FBGTimerNotifierInternal" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FBGTimerNotifierInternal</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FBitmapFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FBitmapFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FBitmapPostProcessing" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FBitmapPostProcessing</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FBitmapTileSaveLoadFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FBitmapTileSaveLoadFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FBuildInfo" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FBuildInfo</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FCacheConfig" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FCacheConfig</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FContentTypeManager" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FContentTypeManager</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FCoordConverterFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FCoordConverterFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FCoordConverterList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FCoordConverterList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FDatumFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FDatumFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FDebugInfoSubSystem" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FDebugInfoSubSystem</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FDebugInfoWindow" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FDebugInfoWindow</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FDownloadInfo" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FDownloadInfo</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FExporterList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FExporterList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGCThread" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGCThread</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGeoCodePlacemarkFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGeoCodePlacemarkFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGeoCoderList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGeoCoderList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGlobalBerkeleyDBHelper" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGlobalBerkeleyDBHelper</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGlobalConfig" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGlobalConfig</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGlobalInternetState" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGlobalInternetState</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGPSDatum" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGPSDatum</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGPSPositionFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGPSPositionFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGPSRecorder" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGPSRecorder</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGPSRecorderInternal" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGPSRecorderInternal</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGpsSystem" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGpsSystem</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGpsTrackRecorder" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGpsTrackRecorder</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGpsTrackRecorderInternal" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGpsTrackRecorderInternal</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGUISyncronizedTimer" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGUISyncronizedTimer</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGUISyncronizedTimerCounter" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGUISyncronizedTimerCounter</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGUISyncronizedTimerNotifier" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGUISyncronizedTimerNotifier</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FGUISyncronizedTimerNotifierInternal" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FGUISyncronizedTimerNotifierInternal</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FHashFunction" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FHashFunction</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FImporterList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FImporterList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FInternalBrowser" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FInternalBrowser</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FInternalBrowserContent" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FInternalBrowserContent</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FInvisibleBrowser" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FInvisibleBrowser</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FLastSelectionSaver" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FLastSelectionSaver</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FLocalConverterFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FLocalConverterFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FMainConfigProvider" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FMainConfigProvider</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FMainFormConfig" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FMainFormConfig</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FMainMapsList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FMainMapsList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FMainThreadConfigListener" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FMainThreadConfigListener</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FMapCalibrationList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FMapCalibrationList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FMapTypeListBuilderFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FMapTypeListBuilderFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FMapTypeSetBuilderFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FMapTypeSetBuilderFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FMapVersionFactoryList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FMapVersionFactoryList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FMarkCategoryFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FMarkCategoryFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FMarkFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FMarkFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FMarkPictureList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FMarkPictureList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FMarkSystem" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FMarkSystem</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FPathDetalizeList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FPathDetalizeList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FProjConverterFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FProjConverterFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FProjectedGeometryProvider" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FProjectedGeometryProvider</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FProjectionFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FProjectionFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FProtocol" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FProtocol</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FResourceProvider" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FResourceProvider</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FSensorList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FSensorList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FSkyMapDraw" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FSkyMapDraw</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FSystemTime" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FSystemTime</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FSystemTimeInternal" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FSystemTimeInternal</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FTerrainProviderList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FTerrainProviderList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FTileNameGenerator" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FTileNameGenerator</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FTileNameParser" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FTileNameParser</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FTileStorageTypeList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FTileStorageTypeList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FVectorDataFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FVectorDataFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FVectorDataItemMainInfoFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FVectorDataItemMainInfoFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FVectorGeometryLocalFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FVectorGeometryLocalFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FVectorGeometryLonLatFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FVectorGeometryLonLatFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FVectorGeometryProjectedFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FVectorGeometryProjectedFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FVectorItemSubsetBuilderFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FVectorItemSubsetBuilderFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#FZmpInfoSet" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">FZmpInfoSet</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_G_'/><h2 >
<b >G</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#GetPerfCounterList()" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">GetPerfCounterList</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/globals u_GlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">globals u_GlobalState</a>  - Unit in <a href="u_GlobalState/package-summary.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">u_GlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#GeoCodePlacemarkFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">GeoCodePlacemarkFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#GlobalBerkeleyDBHelper" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">GlobalBerkeleyDBHelper</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#GlobalInternetState" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">GlobalInternetState</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#GPSDatum" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">GPSDatum</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#GPSRecorder" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">GPSRecorder</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#GpsSystem" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">GpsSystem</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#GpsTrackRecorder" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">GpsTrackRecorder</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/globals u_GlobalState.html#GState" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">GState</a>  - field in Unit <a href="u_GlobalState/globals u_GlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">globals u_GlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#GUISyncronizedTimerNotifier" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">GUISyncronizedTimerNotifier</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_H_'/><h2 >
<b >H</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#HashFunction" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">HashFunction</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_I_'/><h2 >
<b >I</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#InitProtocol()" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">InitProtocol</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#ImporterList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">ImporterList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#InternalBrowser" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">InternalBrowser</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_L_'/><h2 >
<b >L</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#LoadConfig()" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">LoadConfig</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#LocalConverterFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">LocalConverterFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_M_'/><h2 >
<b >M</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#MainConfigProvider" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">MainConfigProvider</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#MainFormConfig" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">MainFormConfig</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#MapCalibrationList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">MapCalibrationList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#MapType" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">MapType</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#MapTypeListBuilderFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">MapTypeListBuilderFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#MapTypeSetBuilderFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">MapTypeSetBuilderFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#MapVersionFactoryList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">MapVersionFactoryList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#MarkPictureList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">MarkPictureList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#MarksDb" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">MarksDb</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_O_'/><h2 >
<b >O</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#OnGUISyncronizedTimer(TObject)" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">OnGUISyncronizedTimer</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#OnMainThreadConfigChange()" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">OnMainThreadConfigChange</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_P_'/><h2 >
<b >P</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#PathDetalizeList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">PathDetalizeList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#PerfCounterList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">PerfCounterList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#ProjectedGeometryProvider" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">ProjectedGeometryProvider</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#ProjectionFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">ProjectionFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_R_'/><h2 >
<b >R</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#ResourceProvider" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">ResourceProvider</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_S_'/><h2 >
<b >S</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#SaveMainParams()" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">SaveMainParams</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#SendTerminateToThreads()" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">SendTerminateToThreads</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#StartExceptionTracking()" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">StartExceptionTracking</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#StartThreads()" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">StartThreads</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#StopExceptionTracking()" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">StopExceptionTracking</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#SystemTimeChanged()" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">SystemTimeChanged</a>  - method in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#SensorList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">SensorList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#SkyMapDraw" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">SkyMapDraw</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#SystemTime" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">SystemTime</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_T_'/><h2 >
<b >T</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a>  - Class in <a href="u_GlobalState/package-summary.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">u_GlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#TerrainProviderList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TerrainProviderList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#TileNameGenerator" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TileNameGenerator</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#TileNameParser" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TileNameParser</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#TileStorageTypeList" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TileStorageTypeList</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_U_'/><h2 >
<b >U</b></h2><dl >
<dt ><a href="u_GlobalState/package-summary.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">u_GlobalState</a>  - namespace u_GlobalState in <a href="package-summary.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">DVRPlanet</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/default.txvpck.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">u_GlobalState</a>  - Namespace Diagram in <a href="u_GlobalState/package-summary.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">u_GlobalState</a> </dt><dd ></dd><p /></dl><hr /><a  name='_V_'/><h2 >
<b >V</b></h2><dl >
<dt ><a href="u_GlobalState/TGlobalState.html#VectorDataFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">VectorDataFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#VectorDataItemMainInfoFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">VectorDataItemMainInfoFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#VectorGeometryLocalFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">VectorGeometryLocalFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#VectorGeometryLonLatFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">VectorGeometryLonLatFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#VectorGeometryProjectedFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">VectorGeometryProjectedFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /><dt ><a href="u_GlobalState/TGlobalState.html#VectorItemSubsetBuilderFactory" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">VectorItemSubsetBuilderFactory</a>  - field in Class <a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </dt><dd ></dd><p /></dl><hr /><hr /><table  border='0' width='100%' cellpadding='1' cellspacing='0'>
<tr >
<td  colspan='2' class='NavBarCellCommon'>
<table  border='0' cellpadding='0' cellspacing='3'>
<tr  align='center' valign='top'>
<td  class='NavBarCellCommon'>
<a  href='overview-summary.html'>
<font  size='+1' class='NavBarFont1'>
<b >Overview</b></font></a>&nbsp;</td><td  class='NavBarCellCommon'>
<font  size='+1' class='NavBarFont1'>Namespace</font>&nbsp;</td><td  class='NavBarCellCommon'>
<font  size='+1' class='NavBarFont1'>Classifier</font>&nbsp;</td><td  class='NavBarCellCommon'>
<font  size='+1' class='NavBarFont1'>Tree</font>&nbsp;</td><td  class='NavBarCellCommonRev'>
<font  size='+1' class='NavBarFont1'>
<b >Index</b></font>&nbsp;</td><td  class='NavBarCellCommon'>
<a  href='help-doc.html'>
<font  size='+1' class='NavBarFont1'>
<b >Help</b></font></a>&nbsp;</td></tr></table><td  align='right' valign='top' rowspan='3'>
<em ></em></td></td></tr><tr >
<td  class='NavBarCellPrevNext'>
<font  size='-2'>PREV&nbsp;&nbsp;NEXT</font></td><td  class='NavBarCellPrevNext'>
<font  size='-2'>
<a  href='index.html' target='_top'>
<b >FRAMES</b></a>&nbsp;<a  href='index-all.html' target='_top'>
<b >NO FRAMES</b></a></font></td></tr></table><a  href='#_A_'>A</a> <a  href='#_B_'>B</a> <a  href='#_C_'>C</a> <a  href='#_D_'>D</a> <a  href='#_E_'>E</a> <a  href='#_F_'>F</a> <a  href='#_G_'>G</a> <a  href='#_H_'>H</a> <a  href='#_I_'>I</a> <a  href='#_L_'>L</a> <a  href='#_M_'>M</a> <a  href='#_O_'>O</a> <a  href='#_P_'>P</a> <a  href='#_R_'>R</a> <a  href='#_S_'>S</a> <a  href='#_T_'>T</a> <a  href='#_U_'>U</a> <a  href='#_V_'>V</a> <br /><p /></body>