﻿<head ><STYLE TYPE="text/css">@import "stylesheet.css";</STYLE><title ></title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><script  language='JavaScript'>
			function doClick(imageHref) {
			if (parent.imageFrame != null)
				parent.imageFrame.location.href = imageHref;
			}
		</script></head><table  border='0' width='100%' cellpadding='1' cellspacing='0'>
<tr >
<td  colspan='2' class='NavBarCellCommon'>
<table  border='0' cellpadding='0' cellspacing='3'>
<tr  align='center' valign='top'>
<td  class='NavBarCellCommon'>
<a  href='overview-summary.html'>
<font  size='+1' class='NavBarFont1'>
<b >Overview</b></font></a>&nbsp;</td><td  class='NavBarCellCommon'>
<font  size='+1' class='NavBarFont1'>Namespace</font>&nbsp;</td><td  class='NavBarCellCommon'>
<font  size='+1' class='NavBarFont1'>Classifier</font>&nbsp;</td><td  class='NavBarCellCommonRev'>
<font  size='+1' class='NavBarFont1'>
<b >Tree</b></font>&nbsp;</td><td  class='NavBarCellCommon'>
<a  href='index-all.html'>
<font  size='+1' class='NavBarFont1'>
<b >Index</b></font></a>&nbsp;</td><td  class='NavBarCellCommon'>
<a  href='help-doc.html'>
<font  size='+1' class='NavBarFont1'>
<b >Help</b></font></a>&nbsp;</td></tr></table><td  align='right' valign='top' rowspan='3'>
<em ></em></td></td></tr><tr >
<td  class='NavBarCellPrevNext'>
<font  size='-2'>PREV&nbsp;&nbsp;NEXT</font></td><td  class='NavBarCellPrevNext'>
<font  size='-2'>
<a  href='index.html' target='_top'>
<b >FRAMES</b></a>&nbsp;<a  href='overview-tree.html' target='_top'>
<b >NO FRAMES</b></a></font></td></tr></table><center >
<h2 >Hierarchy for all namespaces</h2></center><dl >
<dt >
<b >Namespace Hierarchies: </b><dd >
<a  href='u_GlobalState/package-tree.html'>u_GlobalState</a></dd></dt></dl><hr /><h2 >Class Hierarchy</h2><ul >
<li  type='circle'/>class u_GlobalState.<a href="u_GlobalState/TGlobalState.html" target="classFrame" onclick="doClick('u_GlobalState/doc-files/default.txvpck.html')">TGlobalState</a> </ul><p /><hr /><table  border='0' width='100%' cellpadding='1' cellspacing='0'>
<tr >
<td  colspan='2' class='NavBarCellCommon'>
<table  border='0' cellpadding='0' cellspacing='3'>
<tr  align='center' valign='top'>
<td  class='NavBarCellCommon'>
<a  href='overview-summary.html'>
<font  size='+1' class='NavBarFont1'>
<b >Overview</b></font></a>&nbsp;</td><td  class='NavBarCellCommon'>
<font  size='+1' class='NavBarFont1'>Namespace</font>&nbsp;</td><td  class='NavBarCellCommon'>
<font  size='+1' class='NavBarFont1'>Classifier</font>&nbsp;</td><td  class='NavBarCellCommonRev'>
<font  size='+1' class='NavBarFont1'>
<b >Tree</b></font>&nbsp;</td><td  class='NavBarCellCommon'>
<a  href='index-all.html'>
<font  size='+1' class='NavBarFont1'>
<b >Index</b></font></a>&nbsp;</td><td  class='NavBarCellCommon'>
<a  href='help-doc.html'>
<font  size='+1' class='NavBarFont1'>
<b >Help</b></font></a>&nbsp;</td></tr></table><td  align='right' valign='top' rowspan='3'>
<em ></em></td></td></tr><tr >
<td  class='NavBarCellPrevNext'>
<font  size='-2'>PREV&nbsp;&nbsp;NEXT</font></td><td  class='NavBarCellPrevNext'>
<font  size='-2'>
<a  href='index.html' target='_top'>
<b >FRAMES</b></a>&nbsp;<a  href='overview-tree.html' target='_top'>
<b >NO FRAMES</b></a></font></td></tr></table><br /><p />